@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Orbitron:wght@600&family=Roboto+Slab&display=swap');

.App {
  text-align: center;
  background-color: white;
  width: 500px;
  margin-top: 22rem;
  padding: 2rem;
  border-radius: 10px;
  font-family: 'Merriweather', serif;
  font-family: 'Orbitron', sans-serif;
  font-family: 'Roboto Slab', serif;
}